.swiper {
  width: 240px;
  height: 500px;
}

.swiper-slide {
  border-radius: 24px;
  border: 10px solid white;
}

.slider-image {
  height: inherit;
  width: inherit;
  border-radius: 14px;
}

.pagination-container {
  height: 100px;
  width: 100px;
  background-color: aliceblue;
  flex: 1;
  display: flex;
}

.swiper-pagination {
  bottom: -50px !important;
}
